/*estilos generales*/
nav ul	{
	list-style: none;
	padding: 0;
}
nav a{
	text-decoration: none;
}
/*nav li ul{
	display: none;
}
nav li:hover > ul{
	display: block;
}*/
nav li{
	line-height: 3rem;
	position: relative;
	width: 180px;
	text-align: center;
}
nav li ul{
	position: absolute;
}
nav a{
	color: #ddd;
	display: block;
	padding: 0 2.5rem;
	text-decoration: none;
	transition: .3s;
}
nav a:hover{
	background: rgba(0,0,0,.5);
	font-size: 20px;
}
/*Primer nivel*/
nav > ul{
	background: #333;
	display: table;
	width: 100%;
}
nav > ul > li {
	float: left;
}
/*segundo nivel*/
nav li li{
	background: #222;
	max-height: 0;
	transition: all .3s;
	overflow: hidden;
	width: 180px;
}
nav li:hover > ul > li{
	max-height: 500px;
	overflow: visible;
}
nav > ul > li > ul{
	top: 100%;
}
/*tercer nivel*/
nav ul ul ul{
	left: 100%;
	top: 10px;
}

body{
	background: #7AC9E3;
}

/*nav .facebook{

	background: #22B8E8;
	width: 200px;
	font-size: 30px;
	color:white;
	text-decoration: none;
	font-family: Arial;
	padding: 3px 3px 3px 3px;
	border: 1px dotted#000;
	display: block;
	text-align: center;
	border-radius: 150px;

}*/
section article h2{

	position:relative;
	top 0;
	bottom: 35px;
	left: 800px;
	font-size: 40px;
	font-family: Arial;

}
section article h3{
	position:relative;
	top 0;
	bottom: 60px;
	left: 550px;
	font-size: 40px;
	font-family: Arial;
}
section article p{
	position:relative;
	top 0;
	bottom: 80px;
	left: 550px;
	font-size: 20px;
	font-family: Arial;
}
header div img	{
	width: 300px;
	margin: 30px 20px 10px 50rem;
	border-radius: 700px;
}
aside .facebook img{  
	width: 80px;
	position: relative;
	left: 590px;
	bottom: 60px;
	display: block;
	
}
aside .instagram img{   
	width: 80px;
	position: relative;
	left: 1300px;
	bottom: 140px;
	display: block;
	
}
.claseContenedor{
	display: none;
}
/*div contenedor primer imagen*/
.lavarropas{
	display: block;
	width: 800px;
	/*background para probar*/
	position: relative;
	left: 100px;
	bottom: 150px;
}
.imagenLavarropas{
	display: inline-block;
	width: 400px;
}
.imagenLavarropas:hover{
	width: 450px;
	transition: .5s;
}
.parrafo{
	display: inline-block;
	font-size: 30px;
	margin: 0px 20px 20px 20px;
	line-height: 60px;
	font-family: Arial;
	width: 200px;
	position: absolute;
}
.aire{
	display:block;
	width: 800px;
	position: relative;
	left: 800px;
	bottom: 680px;

}
.imagenAire{
	display: inline-block;
	width: 500px;
}
.imagenAire:hover{
	width: 550px;
	transition: .5s;
}
.parrafoAire{
	display: inline-block;
	font-size: 30px;
	margin: 0px 20px 20px 20px;
	line-height: 60px;
	font-family: Arial;
	width: 200px;
	position: absolute;
}
.ver{
	display: inline-block;
}
/*div*/
aside li {
	width: 50px;
	font-size: 5px;
	list-style: none;
}
aside .whatsapp img{  
	width: 80px;
	position: relative;
	bottom: 220px;
	left: 935px;
	display: block;
}
aside .facebook img:hover{
	width: 100px;
	transition: .5s
}
aside .instagram img:hover{
	width: 100px;
	transition: .5s
}
aside .whatsapp img:hover{
	width: 100px;
	transition: .5s
}
/*nav a:hover{
	background: #0D6F90;
	margin: 30px 40px 30px 880px;
}*/
footer h3,h4{
	position: relative;
	font-size: 30px;
	left: 680px;
	bottom: 120px;
	font-family: times;
}

